#sec1.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 75px 50px 50px;
}

#sec1.container h1 {
  font-size: 32px;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

#sec1.container .col-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#sec1.container .col-container .col {
  width: 50%;
}

#sec1.container .col-container .col .sub {
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
}

#sec1.container .col-container .col .box {
  width: 70%;
  margin: auto;
}

#sec1.container .col-container .col .box * {
  margin-bottom: 15px;
}

#sec1.container .col-container .col ol {
  margin-left: 30px;
}

#sec1.container .col-container .col ul li {
  list-style: none;
}

#sec1.container .col-container .col ul li a {
  text-decoration: none;
  color: var(--red);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#sec1.container .col-container .col ul li a:hover {
  color: var(--brown-dark);
}

@media screen and (max-width: 425px) {
  #sec1.container .col-container .col {
    width: 100%;
  }

  #sec1.container .col-container .col:last-child {
    margin-top: 20px;
  }

  #sec1.container .col-container .col .box {
    width: 100%;
  }
}
